.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height:100vh;
    background:linear-gradient(45deg,#08001f,#30197d);
   

    
   

}
.container{
    position:relative;
    width:600px;
    height:120px;
    background-color: rgb(58, 46, 83);
    border-radius: 10px;
   /* border:10px solid rgb(37, 27, 27);*/
    box-shadow: 0 4px 15px rgba(0, 150, 255, 0.4);
    

}

.clock{
    width:100%;
    height:100%;
    background:rgba(235,0,255,0.11);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    
    
    font-size: 40px;

    
}
.container::before {
  content: '';
  width: 150px;
  height: 150px;
  background: #f41b75;
  position: absolute;
  left: -50px;
  top: -50px;
 opacity:0.7;
}

.container::after {
  content: '';
  width: 180px;
  height: 180px;
  background: #419aff; /* different color */
  position: absolute;
  right: -50px; /* opposite side */
  bottom: -50px;
  border-radius: 50%;
  opacity:0.5;
  
  
}
.clock,span{
    font-size: 80px;
   text-shadow: #08001f;
    display:inline-block;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.9);
}

